.task-card.add-new-task-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px; /* Same height as .task-card */
    width: 200px; /* Same width as .task-card */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 8, 8, 0.661);
    margin: 10px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
    background-color: #d3d3d3;
    cursor: pointer;
}

.task-card.add-new-task-card:hover {
    box-shadow: 0 8px 16px #08ff4e83;
}

.task-card.add-new-task-card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.plus-sign {
    font-size: 2rem;
    margin-top: 70px; /* Adjust this to center the plus sign vertically */
    color: #333;
    z-index: 2;
}

.task-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    z-index: 2;
}
